//! **************************************************************************
// Written by: Map P.20131013 on Sat Jun 09 15:38:47 2018
//! **************************************************************************

SCHEMATIC START;
COMP "DAC_CS" LOCATE = SITE "N8" LEVEL 1;
COMP "SYSTEM_CLOCK" LOCATE = SITE "C9" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "DAC_CLR" LOCATE = SITE "P8" LEVEL 1;
NET "SYSTEM_CLOCK_BUFGP/IBUFG" BEL "SYSTEM_CLOCK_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

