NET "LEDS<0>" LOC = "F12";
NET "LEDS<1>" LOC = "E12";
NET "LEDS<2>" LOC = "E11";
NET "LEDS<3>" LOC = "F11";
NET "LEDS<4>" LOC = "C11";
NET "LEDS<5>" LOC = "D11";
NET "LEDS<6>" LOC = "E9";
NET "LEDS<7>" LOC = "F9";

NET "SYSTEM_CLOCK" LOC = "C9";

NET "SPI_MISO" LOC = "N10" | IOSTANDARD = LVCMOS33;
NET "SPI_MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "SPI_SCK" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "DAC_CS" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "DAC_CLR" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;